/*
see: http://ethanschoonover.com/solarized

    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
*/

@viewport {
    width: device-width;
    zoom: 1;
    min-zoom: 1;
    max-zoom: 2;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    background-color: /*base3*/ #fdf6e3;
    color: /*base03*/ #002b36;
    width: 320px;
}

a {
    text-decoration: none;
    color: /*base03*/ #002b36;
    display: block;
    width: 100%;
    min-height: 48px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li, h1, label, input[type=radio], input[type=submit] {
    text-decoration: none;
    border-bottom: 1px solid /*base1*/ #93a1a1;
    background-color: /*base3*/ #fdf6e3;
    width: 100%;
    min-height: 48px;
    cursor: pointer;
    display: block;
    text-align: left;
}

a:hover, label:hover, input[type=radio]:hover, input[type=submit]:hover {
    background-color: /*base2*/ #eee8d5;
}

input[type=submit]{
    background-color: /*base3*/ #fdf6e3;
    color: /*red*/ #dc322f;
    font-size: 12pt;
    width: 100%;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label {
    color: /*yellow*/ #b58900;
    background-color: /*base2*/ #eee8d5;
}