/*
see: http://ethanschoonover.com/solarized

    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
*/

@viewport {
    width: device-width;
    zoom: 1;
    min-zoom: 1;
    max-zoom: 2;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    background-color: /*base03*/ #002b36;
    color: /*green*/ #859900;
}

a {
    text-decoration: none;
    color: /*green*/ #859900;
    display: block;
    width: 320px;
    min-height: 48px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li, h1, label, input[type=radio] {
    text-decoration: none;
    margin-bottom: 20px;
    padding: 2px 6px 2px 6px;
    border-top: 5px solid /*base1*/ #93a1a1;
    border-right: 5px solid /*base01*/ #586e75;
    border-bottom: 5px solid /*base01*/ #586e75;
    border-left: 5px solid /*base1*/ #93a1a1;
    background-color: /*base02*/ #073642;
    width: 320px;
    min-height: 48px;
    cursor: pointer;
    display: block;
    text-align: center;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label {
    color: /*yellow*/ #b58900;
    background-color: /*base03*/ #002b36;
}