<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'jquery/mobile/jquery.mobile-1.4.5.min.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{-% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{-% static 'wgapp/css/style.css' %}" /> -->

    <title>{% block title %}WG app{% endblock %}</title>
</head>
<body>
<script src="{% static 'jquery/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'jquery/mobile/jquery.mobile-1.4.5.min.js' %}"></script>
<!--<script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>-->

<div id="header">
    {% block header %}
        <div>
            <a href=" {% url 'wgapp:index' %}"> <img src=" {% static 'wgapp/img/flatastic/png/48/back.png' %}"
                                                     alt="Home"/> </a>
        </div>
        <div>
            <a href=" {% url 'wgapp:flatmate_list' %} "> <img src=" {% static 'wgapp/img/flatastic/png/48/users.png' %}"
                                                              alt="Mitbewohner"/> </a>
        </div>
        <div>
            <a href=" {% url 'wgapp:room_list' %} "> <img src=" {% static 'wgapp/img/flatastic/png/48/Home.png' %}"
                                                          alt="Räume"/> </a>
        </div>
        <div>
            <a href=" {% url 'wgapp:task_list' %} "> <img src="{% static 'wgapp/img/flatastic/png/48/checklist.png' %}"
                                                          alt="Aufgaben"/> </a>
        </div>
        <div>
            <a href=" {% url 'wgapp:journal_list' %} "> <img
                    src="{% static 'wgapp/img/flatastic/png/48/Calendar-selection-day.png' %}" alt="Journal"/> </a>
        </div>
    {% endblock %}
</div>
<div id="content">
    {% block content %}
        Content
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}

    {% endblock %}
</div>
</body>
</html>
