{% extends "wgapp/base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
    <h1>Index</h1>
    {% if object_list %}
        <ul data-role="listview">
            {% for journal in object_list %}
                <li><a href="{% url 'wgapp:journal_detail' journal.id %}">{{ journal.task.description }} <span class="ui-li-count">
                    {{ journal.done_on|date:'d.m.Y'  }}</span>  <br/> {{ journal.done_by }} </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tasks were done.</p>
    {% endif %}
{% endblock %}

