<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1><a href=" {% url 'wgapp:flatmate_list' %} "> Mitbewohner </a></h1>
<h1><a href=" {% url 'wgapp:room_list' %} "> Räume </a></h1>
<h1><a href=" {% url 'wgapp:task_list' %} "> Aufgaben </a></h1>
<h1><a href=" {% url 'wgapp:journal_list' %} "> Journal </a></h1>
{% if latest_tasks_list %}
    <ul>
    {% for task in latest_tasks_list %}
        <li><a href="{% url 'wgapp:task_detail' task.task.id %}">{{ task.task.description }} <br/> {{ task.done_on|date:'H:i d.m.Y'  }}  <br/> {{ task.done_by }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks were done.</p>
{% endif %}
</body>
</html>