{% extends "wgapp/base.html" %}

{% block content %}
    <h1>Erledigte Aufgaben</h1>
{% if journal_list %}
    <ul data-role="listview">
    {% for journal in journal_list %}
        <li><a href="{% url 'wgapp:journal_detail' journal.id %}">{{ journal.task.description }} ({{ journal.task.room }}) <span class="ui-li-count"> {{ journal.done_on|date:'d.m.Y'  }}</span>  <br/> {{ journal.done_by }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks are listed.</p>
{% endif %}
{% endblock %}