<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
        {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{%  static  'wgapp/css/style.css' %}" />
</head>
<body>
<h1>Erledigte Aufgaben</h1>

{% if journal_list %}
    <ul>
    {% for journal in journal_list %}
        <li><a href="{% url 'wgapp:journal_detail' journal.id %}">{{ journal.task.description }} ({{ journal.task.room }}) <br/> {{ journal.done_on|date:'H:i d.m.Y'  }}  <br/> {{ journal.done_by }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks are listed.</p>
{% endif %}
</body>
</html>